
* {
  box-sizing: border-box;
}

body {
  font-family: Times, serif;
  margin: 5;
}

.ital {
    font-style: italic;
  }

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
  /* background-color: #f1f1f1; */
  padding: 2px;
  /* border: 3px solid black; */
}

/* Main column */
.main {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: white;
  padding: 2px, 2px, 2px, 2px;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 2px, 2px, 2px, 2px;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 10px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 10px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


a {
     text-decoration: none;
     color: black;
    }
a:hover {
  color: grey;
}
