
* {
  box-sizing: border-box;
}

 
body {
  font-family: Times, serif;
  margin: 5;
}


.ital {
    font-style: italic;
  }

/* Responsive iframe for PDF */
iframe {
    width: 100%;
    height: 600px; /* Adjust this value as needed */
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}


a {
     text-decoration: none;
     color: #314b7c;
/*     background-color: #f5f9ff;*/
    }


a:hover {
  color: #61c4be;
}

/* Style the navigation bar links */
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #333;
}

.navbar a.left {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: #333;
  }


/* Change color on hover */
.navbar a:hover {
  background-color: #bbb;
  color: white;
}


/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 2px, 2px, 2px, 2px;
}

/* Par défaut, cacher le lien de téléchargement */
.mobile-pdf-link {
    display: none;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
  /* background-color: #f1f1f1; */
  padding: 2px;
  margin-right: 10px;
  /* border: 3px solid black; */
}


/* Main column */
.main {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: white;
  padding: 2px, 2px, 2px, 2px;
  margin-right: 10px;
  margin-left: 10px;

}


.blog {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

#maps {
    width: 30%;
    align: middle;
}

/* PHONE SIZE*/
@media only screen and (max-width: 900px) {
  .blog {
    padding-left: 5%;
    padding-right: 5%;
  }
  .blog img {
    height: auto;
    width: 80%;
  }
  #maps {
  width: 80%;
  }
  #minicroque {
    height: 70px;
    width: 40px;
  }
  .navbar a {
    float: none; /* Stack navbar items vertically */
    text-align: right;
    padding: 10px;
  }
  iframe {
        display: none;
    }

    .mobile-pdf-link {
        display: block;
    }
  h1 {
        font-size: 24px; /* Ajustez cette valeur selon vos besoins */
        line-height: 1.2; /* Ajustez l'espacement entre les lignes */
    }
}





/* BIG SCREEN */
@media only screen and (min-width: 1800px) {
  .blog {
    padding-left: 25%;
    padding-right: 25%;
  }
  #maps {
  width: 20%;
  }
  #minimaps {
    width: 30%;
  }
  #minicroque {
    height: 100px;
    width: 50px;
  }
}








