---
layout: archive
---

<p align="justify"> 
After studying psychology at the university of Tours (France) and Bucknell (USA), I pursued a PhD in computational neuroscience 
supervised by Danilo Bzdok (RWTH Aachen university, Germany) and Danielle Basset (UPENN, USA) and supported by a PhD scholarship 
of the International Research Training Group (DFG-IRTG 2150). I received intensive training in machine learning and brain imaging
working in collaboration with Gaël Varoquaux (INRIA, Paris, France) and Simon Eickhoff (Düsseldorf, Germany). Being supervised 
by academics from very different fields (medicine, computer science, and physics) really made clear that I have a deep interest 
for combination of rigorous methodology and innovating approach to investigate psychopathology. Currently working as a postdoc 
in Chi-Chun Lee's <a href="https://biic.ee.nthu.edu.tw/intro.php">lab</a> in Hsinchu (Taiwan), we are working on learning predictive 
models based on behaviors, brain-region and brain-network priors using machine-learning tools such as semi-supervision and 
structured sparsity penalties. </p>

<p align="justify"> 
Check out my main projects <a href="https://jeremylefortbesnard.de/Publications/">there</a>. 
 </p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
