---
layout: archive
---

<p align="justify"> 
I recently received the Ph.D. degree in the field of computational neuroscience under the supervision of 
professor Bzdok at the University of Aachen (RWTH) in Germany and professor Bassett at the University of 
Pennsylvania (UPENN) in the US (<a href="https://github.com/JLefortBesnard/JLefortBesnard.github.io/blob/master/Dissertation_JLB_2019_OfficialVersion.pdf">PDF thesis</a>). My Ph.D. was supervised by academics from very different fields (medicine, computer science, and physics). 
Working with these very inspiring researchers really made clear that I have a deep interest for combination of rigorous methodology 
and innovating approach to investigate psychopathologies.<br>
Check out my main projects <a href="https://jeremylefortbesnard.de/Publications/">there</a>.
</p>



<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
